wp-admin
wp-includes

# themes is installed in the app/public/wp-content directory
themes

app/public/wp-content/index.php

# following files resides in the app/public directory
.htaccess
license.txt
local-xdebuginfo.php
readme.html
wp-activate.php
app/public/wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# no need to replace the following files
conf
logs