wp-admin
themes
app/public/wp-content/index.php
wp-includes
.htaccess
license.txt
conf
logs
local-xdebuginfo.php
readme.html
wp-activate.php
app/public/wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
app/sql/local.sql